---
import { getCollection } from 'astro:content';
const docs = await getCollection('docs');
---
<html>
<body>
<pre>{JSON.stringify(docs.map(d => ({ id: d.id, data: d.data?.title, filePath: (d as any).filePath })), null, 2)}</pre>
<p>Count: {docs.length}</p>
</body>
</html>
